<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rango</title>
</head>
<body>
<h1>Invalid access</h1>
<!--<strong>{{ boldmessage }}</strong><br />-->
<!--<a href="/rango/about/">About</a><br/>-->
<!--<img src="{% static "images/rango.jpg" %}" alt="picture of rango" />-->
{% if categories %}
<ul>
    {% for category in categories%}
    <li><a href="/rango/category/{{ category.slug }}">{{ category.name }}</a>
    </li>
    {% endfor %}
</ul>
{% else %}
<Strong>There are no categories present</Strong>
{% endif %}

<h3>Top 5 pages viewed frequently</h3>
{% if page_list %}
<ul>
    {% for page in page_list %}
    <li><a href="{{ page.url }}">{{ page.title }}</a></li>
    {% endfor %}
</ul>
{% else %}
<strong>Not currently available</strong>
{% endif %}
<a href="/rango/about/">About</a>
<!-- new line -->
</body>
</html>