{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Lucido Dream:  Home page{% endblock %}
{% block body_block %}
{% if user.is_authenticated %}
<h1>Index  {{ user.username }}!</h1>
{% else %}
<h1>Index...  !</h1>
{% endif %}
<h1>Top 5 category</h1>
<!--<strong>{{ boldmessage }}</strong><br />-->
<!--<a href="/rango/about/">About</a><br/>-->
<!--<img src="{% static "images/rango.jpg" %}" alt="picture of rango" />-->

{% if categories %}
<ul>
    {% for category in categories %}
    <li><a href="{% url 'category' category.slug %}">{{ category.name }}</a>
    </li>
    {% endfor %}
</ul>
{% else %}
<Strong>There are no categories present</Strong>
{% endif %}

<h3>Top 5 pages viewed frequently</h3>
{% if page_list %}
<ul>
    {% for page in page_list %}
    <li><a href="{{ page.url }}">{{ page.title }}</a></li>
    {% endfor %}
</ul>
{% else %}
<strong>Not currently available</strong>
{% endif %}

<p> visits: {{ visits }}</p>

{% endblock %}